<header>
    <nav>
        <ul class="nav_ul" style="list-style-type: none;">
            <li>
                <a href="/" style="color: #C4D44C;">Home</a>
            </li>
            <li>
                <a href="/pokemon" style="color: #C4D44C;">Poke-dexes</a>
                <ul class="dropdown">
                    <li><a href="/pokemon/kanto" style="color: #C4D44C;">Kanto</a> </li>
                    <li><a href="/pokemon/johto" style="color: #C4D44C;">Johto</a> </li>
                    <li><a href="/pokemon/hoenn" style="color: #C4D44C;">Hoenn</a> </li>
                    <li><a href="/pokemon/sinnoh" style="color: #C4D44C;">Sinnoh</a> </li>
                    <li><a href="/pokemon/unova" style="color: #C4D44C;">Unova</a> </li>
                    <li><a href="/pokemon/kalos" style="color: #C4D44C;">Kalos</a> </li>
                </ul>
            </li>
            <ul class="dropdown">
                <li>
                    <a href="/berries" style="color: #C4D44C;">Berries</a>
                </li>
                <li><a href="/items" style="color: #C4D44C;">Items</a></li>
            </ul>
            <li>
                <a href="/trainer" style="color: #C4D44C;">Trainer Page</a>
            </li>
            <li>
                <a href="/auth/register" style="color: #C4D44C;"> User Register</a>
            </li>
            <li>
                <a href="/auth/login" style="color: #C4D44C;">Login</a>
            </li>
            <li>
                <a href="/auth/logout" style="color: #C4D44C;"> Logout</a>
            </li>
        </ul>
    </nav>

</header>