<%- include('partials/_head') %> <br /><br /><br />
<h1>Welcome to the Poke-dex Clone: Tracker Edition</h1>
<div class="rotom_full">
  <div class="dextopC">
    <div class="dexneck"></div>
    <div class="dexneck-right"></div>
    <div class="dexneck-tip"></div>
  </div>
  <div class="dexbody">
    <div class="left_eye">
      <div class="left_slit"></div>
      <div class="left_eyeris"></div>
    </div>
    <a href="/pokemon">
      <div class="rotom_head"></div>
      <div class="right_eye">
        <div class="right__slit"></div>
        <div class="right_eyeris"></div>
      </div>
      <div class="rotom_mouth">
        <div class="rotom_mouth_left"></div>
        <div class="rotom_mouth_center"></div>
        <div class="rotom_mouth_right"></div>
      </div>
    </a>
    <div></div>
  </div>
  <div class="dextail"></div>
</div>
<%- include('partials/_footer') %>
