<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/catalog.css" />
    <title>Berries Index</title>
  </head>

  <body>
    <%- include('../partials/_nav') %>
    <br />
    <div class="berries_container">
      <h1 style="font-size: xx-large; color: #ffde00;">Berries</h1>
      <% for(let i = 0; i < berries.results.length; i++) { %>
      <a href="/berries/<%= berries.results[i].name %>">
        <li>
          <%= berries.results[i].name %>
        </li>
      </a>
      <% } %>
    </div>
  </body>
</html>
